/* MIT License | https://tailwindcss.com */

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Esteban';
  font-feature-settings: normal;
  font-variation-settings: normal;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

a, 
button {
  cursor: pointer;
}

ol, 
ul, 
menu {
  list-style: none;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

:disabled {
  cursor: default;
}

.absolute {
  position: absolute;
}

.left-\[2\.625rem\] {
  left: 2.625rem;
}

.top-\[-1\.3125rem\] {
  top: -1.3125rem;
}

.grid {
  display: grid;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.auto-cols-auto {
  grid-auto-columns: auto;
}

.auto-cols-fr {
  grid-auto-columns: minmax(0, 1fr);
}

.auto-cols-max {
  grid-auto-columns: max-content;
}

.auto-rows-auto {
  grid-auto-rows: auto;
}

.gap-\[1\.3125rem\] {
  gap: 1.3125rem;
}

.gap-\[3\.9375rem\] {
  gap: 3.9375rem;
}

.gap-\[7\.875rem\] {
  gap: 7.875rem;
}

.gap-\[zero\] {
  gap: 0rem;
}

.grid-areas-natural {
  grid-template-areas: "mountain"
"main"
"cavity";
}

.grid-areas-mountain {
  grid-template-areas: "abbreviations";
}

.grid-areas-protagonist {
  grid-template-areas: "protagonist"
"pictures";
}

.grid-areas-gist {
  grid-template-areas: "gist";
}

.grid-areas-present {
  grid-template-areas: "present representation";
}

.grid-areas-inquiry {
  grid-template-areas: "inquiry questions";
}

.grid-in-\[abbreviations\] {
  grid-area: abbreviations;
}

.grid-in-\[gist\] {
  grid-area: gist;
}

.grid-in-\[inquiry\] {
  grid-area: inquiry;
}

.grid-in-\[pictures\] {
  grid-area: pictures;
}

.grid-in-\[present\] {
  grid-area: present;
}

.grid-in-\[protagonist\] {
  grid-area: protagonist;
}

.grid-in-\[questions\] {
  grid-area: questions;
}

.grid-in-\[representation\] {
  grid-area: representation;
}

.grid-cols-auto {
  grid-auto-flow: column;
}

.background-\[1\.3125rem\] {
  background: 1.3125rem;
}

.type-\[\.875rem\]\/\[1\.8\] {
  font-size: .875rem;
  line-height: 1.8;
}

.type-\[1\.125rem\]\/\[1\.6\] {
  font-size: 1.125rem;
  line-height: 1.6;
}

.type-\[1\.125rem\]\/\[1\] {
  font-size: 1.125rem;
  line-height: 1;
}

.type-\[1\.8125rem\]\/\[1\] {
  font-size: 1.8125rem;
  line-height: 1;
}

.type-\[1\.875rem\]\/\[1\] {
  font-size: 1.875rem;
  line-height: 1;
}

.type-\[1rem\]\/\[1\.8\] {
  font-size: 1rem;
  line-height: 1.8;
}

.type-\[1rem\]\/\[1\] {
  font-size: 1rem;
  line-height: 1;
}

.type-\[2\.375rem\]\/\[1\.4\] {
  font-size: 2.375rem;
  line-height: 1.4;
}

.type-\[3\.1875rem\]\/\[1\.4\] {
  font-size: 3.1875rem;
  line-height: 1.4;
}

.height-\[1\.1875rem\] {
  height: 1.1875rem;
}

.height-\[12\.6875rem\] {
  height: 12.6875rem;
}

.height-\[23\.625rem\] {
  height: 23.625rem;
}

.height-\[3\.4375rem\] {
  height: 3.4375rem;
}

.height-\[30\.1875rem\] {
  height: 30.1875rem;
}

.height-\[32\.9375rem\] {
  height: 32.9375rem;
}

.height-\[38\.125rem\] {
  height: 38.125rem;
}

.height-\[39\.1875rem\] {
  height: 39.1875rem;
}

.height-\[54\.375rem\] {
  height: 54.375rem;
}

.width-\[110rem\] {
  width: 110rem;
}

.width-\[16rem\] {
  width: 16rem;
}

.width-\[24\.3125rem\] {
  width: 24.3125rem;
}

.width-\[26\.515625rem\] {
  width: 26.515625rem;
}

.width-\[26\.8125rem\] {
  width: 26.8125rem;
}

.width-\[3\.875rem\] {
  width: 3.875rem;
}

.width-\[36\.75rem\] {
  width: 36.75rem;
}

.width-\[4\.3125rem\] {
  width: 4.3125rem;
}

.width-\[6\.5625rem\] {
  width: 6.5625rem;
}

.width-\[70rem\] {
  width: 70rem;
}

.padding-\[1\.3125rem\] {
  padding-top: 1.3125rem;
  padding-right: 1.3125rem;
  padding-bottom: 1.3125rem;
  padding-left: 1.3125rem;
}

.padding-bottom-\[1\.3125rem\] {
  padding-bottom: 1.3125rem;
}

.padding-left-\[1\.3125rem\] {
  padding-left: 1.3125rem;
}

.padding-right-\[1\.3125rem\] {
  padding-right: 1.3125rem;
}

.padding-top-\[1\.3125rem\] {
  padding-top: 1.3125rem;
}

.padding-top-\[9\.1875rem\] {
  padding-top: 9.1875rem;
}

.margin-left-\[-13\.125rem\] {
  margin-left: -13.125rem;
}

.margin-left-\[-3\.9375rem\] {
  margin-left: -3.9375rem;
}

.margin-left-\[auto\] {
  margin-left: auto;
}

.margin-right-\[-13\.125rem\] {
  margin-right: -13.125rem;
}

.margin-right-\[auto\] {
  margin-right: auto;
}

.margin-top-\[\.9375rem\] {
  margin-top: .9375rem;
}

.margin-top-\[1\.3125rem\] {
  margin-top: 1.3125rem;
}